.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.form *{
    margin: 10px;
    display:flex;
}

.form-group >label{
    width: 100px;
    text-align: right;
    padding:10px;
}